<div class="container mainContainer">

	<h2>Znajomi</h2>
	
	{% if friends | length == 0 %}
		<div class="galeryContainer text-center">
			{% if myData == userData %}
				<h3>Nie masz znajomych</h3>
				{% else %}
				<h3>Użytkownik nie ma znajomych</h3>
			{% endif %}
		</div>
	{% endif %}
	
	
	{% if friends | length > 0 %}
		<div class="aboutContainer">
	
			{% set all_elements = 8 %}
			{% set all_pages = (( friends | length ) / all_elements) | round(0,'ceil') %}
			{% set begin = ( page * all_elements ) - all_elements %}
			{% set end = begin + all_elements %}
				
			{% set i = 0 %}
	
	
	
	
		</div>
	{% endif %}
	
</div>