{% extends 'base.html.twig' %}

{% block title %}
	Zmiana hasła | {{ parent() }}
{% endblock %}

{% block pageContent %}
	<div class="container login_container">
		<h1 class="loginH1Margin">Zmiana hasła</h1>
		
		{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}	
		{{ form(form ,{'attr': {'novalidate':'true'}})}}
	</div>
{% endblock %}