.navbar .navbar-brand{
	pointer-events: none;
}

.register_container,.login_container{
	margin-top:2%;
	width:50%;
	margin-bottom:120px;
}

form .help-block ul li span,form .alert{
	display:none;
}

.loginH1Margin{
	margin-bottom:30px;
}

#jumbotronProfile #imageDiv{
	display:block;
}

#jumbotronProfile img{
	width:120px;
	height:120px;
	display:block;
}

#jumbotronProfile .personal{
	margin-top:10px;
}

#jumbotronProfile .personal .name{
	font-weight: bold;
	margin-bottom:0;
	font-size: 19px;
	color:grey;
}

#jumbotronProfile .info{
	display:inline-block;
	margin-left:5px;
	margin-right:5px;
}

#jumbotronProfile #infoDiv h4{
	color:grey;
}

#jumbotronProfile #firstSection{
	margin-bottom:15px;
}

#jumbotronProfile #secondSection div:first-child{
	margin-bottom:5px;
}

.mainContainer{
	padding-top:30px;
	margin-bottom:120px;
}

.mainContainer2{

	padding-top:30px;

}

#footer{
	background-color:#222;
	position:fixed;
	bottom:5px;
	padding-top:5px;
	width:100%;
}

#footer p{
	margin-top:40px;
}

.postElement{
	margin-left:20px;
	margin-top:20px;
	background-color:#eee;
	padding:10px 10px 10px 10px;
	border-radius:20px 20px;
}

.postElement img{
	width:7%;
}

.postElement .name, .subpostElement .name{
	color:black;
	margin-left:10px;
	font-weight:bold;
	text-decoration:none;
}

.postElement .date,.subpostElement .date{
	color:black;
	margin-left:50px;
	pointer-events: none;
}

.postMessage{
	margin-top:20px;
	font-weight:bold;
	word-break: break-word;
}

.noPostInfo{
	margin-left:30px;
}

.postInput{
	margin-top:50px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

.subpostInput{
	margin-top:30px;
	margin-left:20px;
	margin-right:auto;
}

.postInput label,.subpostInput label{
	display:none;
}

.postInput button,.subpostInput button{
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.subpostElement{
	margin-left:40px;
	margin-top:20px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
}

.subpostElement img{
	width:100%;
}

.imageTd{
	width:5%;
}

.contentTd{
	padding-left:10px;
}

.subpostContent{
	background-color:#eee;
	padding:10px 10px 10px 10px;
	border-radius:20px 20px;
}

.subpostMessage{
	margin-left:10px;
	margin-top:15px;
	word-break: break-all;
}

.subpostMoreLess{
	margin-left:20px;
	margin-top:20px;
}

.subpostMoreLess a{
	color:black;
	font-weight:bold;
	cursor:pointer;
	text-decoration:none;
}

.paginationDiv{
	margin-left:20px;
}

.pagination li a{
	text-decoration:none;
	color:white;
	background-color:#428bca;
}

.postElement a:hover{
	text-decoration:none;
}

.aboutContainer{
	margin-top:50px;
	margin-bottom:50px;
}

.galeryContainer{
	margin-top:100px;
	margin-bottom:50px;
}

.groupCol{
	width:25%;
	padding-top:10px;
	padding-bottom:10px;
}

.groupCol img{
	width:60%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.groupCol a{
	text-decoration:none;
	color:black;
}

.groupCol h4{
	margin-top:20px;
}

#addPhoto{
	margin-top:100px;
	display: table; 
	margin-left: auto;
	margin-right:auto;
}

.photoUpload{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.photoUpload label, .photoUpload input,.photoUpload .btn{
	display:none;
}

.photoContainer{
	display:block;
	margin-top:80px;
	width:60%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:120px;
}

.photoContainer #profileImage{
	width:4%;
}

.photoContainer .info{
	margin-top:10px;
}

.photoContainer a{
	margin-left:10px;
	color:black;
	font-weight:bold;
}

.photoContainer a:hover{
	text-decoration:none;
	color:black;
}

.photoContainer .description{
	margin-top:20px;
	background-color:#eee;
	border-radius:10px 10px 10px 10px;
	padding:10px 10px 10px 10px;
}

.photoContainer .buttons{
	margin-top:20px;
}

.buttons a,.buttons a:hover{
	color:white;
}

.commentsPhotoContainer{
	margin-top:30px;
}

.commentsPhotoContainer .postElement{
	margin-left:0px;
}

@media (max-width: 700px) {

	.navbar-toggle {
		display: block;
	}
}
